<div class="container">
  <h2>Generated Form</h2>
  <form>
    <div *ngFor="let element of formElements" class="input-group">
      <label [for]="element.name">{{ element.label }}</label>

      <ng-container [ngSwitch]="element.type">
        <input *ngSwitchCase="'text'" [id]="element.name" [name]="element.name" type="text" [required]="element.required" />
        <input *ngSwitchCase="'email'" [id]="element.name" [name]="element.name" type="email" [required]="element.required" />
        <input *ngSwitchCase="'number'" [id]="element.name" [name]="element.name" type="number" [required]="element.required" />
        <input *ngSwitchCase="'checkbox'" [id]="element.name" [name]="element.name" type="checkbox" [required]="element.required" />
        
        <input *ngSwitchCase="'radio'" [id]="element.name" [name]="element.name" type="radio" [required]="element.required"/>
        
        <select *ngSwitchCase="'dropdown'" [id]="element.name" [name]="element.name" [required]="element.required">
          <option>Option 1</option>
          <option>Option 2</option>
        </select>
        
        <input *ngSwitchCase="'file'" [id]="element.name" [name]="element.name" type="file" [required]="element.required" />
      </ng-container>
    </div>
    <button type="submit">Submit</button>
  </form>
</div>
